.stats{
  background-image: url('/build/img/stat.jpg');
  background-size: cover;
  background-position: center;    
  .container{
    min-height: 464px;
    width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  &__box{
    color: $white1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__value{
    margin: 30px 0;
    font-size: 20px;
  }
  &__subtext{
    font-size: 15px;
    margin-bottom: 30px;
  }
  &__circle{
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;   
    div{
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
    &.red{
      border-color: $red;
      div{
        background: $red;
      }
    }
    &.green{
      border-color: $green;
      div{
        background: $green;
      }
    }
    &.purpure{
      border-color: $purpure;
      div{
        background: $purpure;
      }
    }
    &.yellow{
      border-color: $yellow;
      div{
        background: $yellow;
      }
    }
  }
}
