.portfolio{
  .wrapper{
    position: relative;
    max-width: 1170px;
    
  }
  &__image{
    margin-bottom: 20px;
    position: relative;
    // height: 1px;
    min-height: 10px;
    img {
      position: relative;

    }
  }
  &__onFocusMouse {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    
  }
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    // height: 70%;
    background: rgba(22, 22, 22, 0.322);
    img{

      max-width: 60px;
      max-height: 60px;
      background: rgba(255, 0, 0, 0);
    }
  }
  &__footer{
    background: $white;

    // flex: 1;
    p{
      text-align: center;
      margin: 15px 0;
      background: rgba(255, 0, 0, 0);

    }
  }
}