body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    border-bottom: 4px solid #008000;
    text-align: center;
    padding: 2px;
}

.header_title{
    margin: 0;
    background: grey;
    color: yellow;
    display: inline-block;
    padding: 10px 20px;
}
.aside{
    float: left;

    width: 30%;
}

.article{
    float: left;
    width: 40%;
}

.main{
    float: left;
    width: 30%;
}
.container{
    float: left;
    width: 100%;

}

.footer{
    float: left;
    width: 100%
}