
$line: #fefefe;
$white: #ffffff;
$backgroundText: #e0e0e0;
$inputColor: #efefef;
$purpure: #b27cf5;
$h2Text: #272727;
$red: #fc5f45;
$yellow: #feb960;
$defaultTextColor: #616161;
$background1: #f7f7f7;
$green: #38c695;
$footerText: #fef4f2;
$h1Text: #313131;
$orange: #fc5f45;
$darkSectionNum: #5d5d62;
$background2: #ccc;