<section class="home">
  <div class="wrapper">
    <p class="home__title">
        We design things with love and passion.
    </p>
    <button class="home__button btn orange">
        Our Works
    </button>
    <div class="home__boxes">
      <div class="box green">
        <div class="box__img ">
          <img src="img/money.svg" alt="Money">
        </div>
        <p class="box__text">
          Fixed price projects
        </p>
      </div>
      <div class="box purpure">
        <div class="box__img">
          <img src="img/time.svg" alt="Money">
        </div>
        <p class="box__text">
          Receive on time
        </p>
      </div>
      <div class="box yellow">
        <div class="box__img">
          <img src="img/label.svg" alt="Money">
        </div>
        <p class="box__text">
          Satisfaction guranteed
        </p>
      </div>
    </div>
  </div>
</section>  
