.header{
  background:#fff;
  padding: 0 15px;
  .wrapper {
    padding: 15px 0;
    min-height: 50px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header .img img {
  width: 100%;
  height: auto;
}

.header .nav {
  display: flex;
  flex-wrap: wrap;
}
.header .nav a {
  font-family: 'Poppins-Regular';
  margin: 10px 0;
  margin-right: 30px;
  color: #272727;
  text-decoration: none;
}
.header .nav a:last-child {
  margin-right: 0;
  margin-bottom: 0;
}