/*------colors------------*/
$white:#fff;

$darkGray: #272727;
$orange: #fc5f45;
$red: #fc5f45;
$green: #38c695;
$purpure:#b27cf5;
$yellow:#feb960;
$grayBg: #f7f7f7;
$graySectionNum:#e0e0e0;
$colorTitle: #313131;
$grayFont:#616161;