/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    max-width: 100%;

}
.header{
    background: #1d2126;
    padding: 32px 15px;
}
.header .wraper{
    max-width: 1130px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .wraper .logo{
    width: 100px;
    height: 16px;

}
.header .nav{
    display: flex;
}
.header .nav a{
    text-decoration: none;
    font-size: 14px;
    color: #a4aead;
    font-weight: 400;
    text-transform: uppercase;
    padding:7px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0 10px;
}
.header .nav a:last-child{
    margin-right: 0;
}
.header .nav a:hover{
    border-color: #33cc99;
    color: #33cc99;
}
.banner{
    display: flex;
    align-items: center;
    min-height: 600px;
    padding: 30px 15px;
    background: url("images/background.jpg") no-repeat center center;
    background-size: cover;
}

.banner .wraper{
    max-width: 1130px;
    margin: 0 auto;
    flex: 1;
}
.banner .banner_title{
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
}

.subText{
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    margin-bottom: 40;
}
.banner .button{
    display: flex;
    align-items: center;

}

.banner .button .btn{
    outline: none;
    border-radius: 4px;
    background: transparent;
    counter-reset:#ffffff;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    margin-right: 10px;
    color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
}

.banner .button .btn:hover{
    background: #23b7a4;
    border: 2px solid #23b7a4;

}
.about{
    padding: 70px 15px;
    border-bottom: ;
}

.about .wraper {
    max-width: 1130px;
    margin: 0 auto;

}

.about .head{
    margin-bottom: 30px;
}

.about .head .title{
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
}

.about .wraper .head .title:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: gray;
    width: 10px;
    height: 100%;
}
 .about .wraper .text{
     font-size: 16px;
     margin: 30px 0;
 }
.about .leftcoi{

}

.about .rightcoi{

}

@media (max-width:480px){
    .header{
        padding: 10px 15px;
    }
    .header .nav a{
        margin-right: 0;
    }
}
