/*asdasdas */
div {
    /*background-color: red*/
}
.backDiv .text2{
    color: red;
}

.backblue {
    background-color: blue;
}
.activeViolet{
    background-color: violet;
}

.h1style{
    background-color: aqua;
}

#thirdDiv {
    background-color: yellow;
}