.whySelectUs{
  .box{
    margin-bottom: 70px;    
    &__title{
      height: 60px;
      color: $h2Text;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
      line-height: 26px;
    }
    &__text {
      font-size: 15px;
      line-height: 25px;
      // text-align: center;
    }
  }
}