$orange:#fc5f45;
$red:#fc5f45;
$green:#38c695;
$purpure:#b27cf5;
$yellow:#feb960;
$white:#fff;
$grey1:#f6f6f6;
$grey2:#f7f7f7;
$grey3:#e0e0e0;
$grey4:#616161;
$grey5:#313131;
$grey6:#767676;

$white1:#fefefe;
$black:#000;
